@CHARSET "UTF-8";

body {
	margin: 0px;
	background-color: black;
	font-family: Calibri;
}

#menu {
	background-image: url('media/texture2.jpg');
	padding-left:9%;
	padding-right:9%;
	padding-top:5px;
	padding-bottom:5px;
	height:25px;
}

.left_menu{
	float:left;
}

.right_menu {
	float:right
}

nav{
	padding:5px;

}

nav ul {
	list-style: none;
	display:none;
	background-color:yellowgreen;
	margin:0px;
	padding:0px;
}

nav ul li{
	border-bottom: 1px ridge grey;
	padding:5px;
}

nav:hover ul {
	display:block;
}





#pTresc {
	background-color: black;
	color: white;
	padding: 10px;
	height: 450px;
}

.content {
	background-image: url('media/texture2.jpg');
	width: 80%;
	min-width:800px;
	margin: auto;
	margin-top: 30px;
	padding: 10px;
	min-height: 600px;
}

#MG_menu {
	float: right;
}

#MG_menu span:hover {
	cursor: pointer;
	font-weight: bold;
}

#MG_form .selected {
	display: block;
}

#MG_form .hide {
	display: none;
}

.ogloszenie {
	background-color: #D6C485;
	box-shadow: 10px 10px 20px dimgrey;
	padding: 10px;
	border-radius: 3px;
	margin: 10px;
}

.b_close {
	background-image: url('media/b_close.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 30px;
	height: 20px;
	float: right;
}

.b_close:hover {
	cursor: pointer;
}

#mapCanvas:focus {
	cursor: pointer;
}