@CHARSET "UTF-8";

body{
	margin:0px;
 	background-color:black; 
 	font-family:Calibri;
}

#pTresc{
	background-color:black;
	color:white;
	padding:10px;
	height:450px;
}

.content{
	background-image: url('media/texture.jpg');
	width:80%;
	margin:auto;
	padding:10px;
	
}

